extends layout

block content
  body
    div.loginContainer
      form.login-form(action='/log-in' method='POST')
        label(for='username') Username
        input#username(name='username'  type='text')
        if (error)
          p(style="color: red;") #{error}
        label(for='password') Password
        input#password(name='password' type='Password')
        if (error)
          p(style="color: red;") #{error}
        button.login-btn Log in
        div
        | Don't have an account? 
        a(href='sign-up') Sign up 
            if (errors)
              p #{errors}